name: tests jenkins versions

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      jenkins-versions:
        required: true
        description: "jenkins versions to test (default: \"last-good-version lts\")"
  schedule:
    - cron:  '0 19 * * 2'

jobs:
  gen-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix_json: ${{ steps.gen-matrix.outputs.matrix_json }}
    steps:
      - name: gen-matrix
        id: gen-matrix
        run: |
          # default ; test on a few LTS versions from https://www.jenkins.io/changelog-stable/
          default_versions="last-good-version lts"
          matrix_versions="${{ inputs.jenkins-versions }}"
          matrix_versions="${matrix_versions:-${default_versions}}"
          versions_json=$(for ver in ${matrix_versions}; do echo "{'version':'${ver}'},"; done)
          versions_json=$(echo "${versions_json%?}" | tr '\n' ' ')
          echo "matrix_json={'include':[${versions_json%?}]}" >> $GITHUB_OUTPUT

  jenkins-versions:
    needs: gen-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON( needs.gen-matrix.outputs.matrix_json ) }}
    runs-on: ubuntu-latest
    name: test on jenkins-${{ matrix.version }}
    steps:
      - uses: actions/checkout@v5

      # test lts and lgv with their plugin list (fixed for lgv)
      - name: test jenkins-${{ matrix.version }} with default plugin list
        if: matrix.version == 'lts' || matrix.version == 'last-good-version'
        uses: ./
        with:
          version: ${{ matrix.version }}

      # tests all with no plugins
      - name: test jenkins-${{ matrix.version }} with empty plugin list
        uses: ./
        with:
          version: ${{ matrix.version }}
          plugins: test/empty-plugins.txt

      # test old versions of jenkins with fixed versions of plugins
      - name: test jenkins-${{ matrix.version }} with fixed versions of plugins
        if: matrix.version == '2.190.1'
        uses: ./
        with:
          version: ${{ matrix.version }}
          plugins: test/plugins-${{ matrix.version }}.txt
